body {
  font-family: "Roboto Regular", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Arial Regular";
  font-display: auto;
  src: local("Arial Regular"), url("fonts/Arial/arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Verdana
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Verdana Regular";
  font-display: auto;
  src: local("Verdana Regular"), url("fonts/Fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  font-display: auto;
  src: local("Verdana Bold"), url("fonts/Fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Regular";
  font-display: auto;
  src: local("Roboto Regular"), url("fonts/Fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Black";
  font-display: auto;
  src: local("Roboto Black"), url("fonts/Fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold Italic";
  font-display: auto;
  src: local("Roboto Bold Italic"), url("fonts/Fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Bold";
  font-display: auto;
  src: local("Roboto Bold"), url("fonts/Fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Medium";
  font-display: auto;
  src: local("Roboto Medium"), url("fonts/Fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Light Italic";
  font-display: auto;
  src: local("Roboto Light Italic"), url("fonts/Fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .mb-0-xl {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mb-0-l {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .mb-0-m {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 640px) {
  .mb-0-s {
    margin-bottom: 0px !important;
  }
}

.mb-0 {
  margin-bottom: 0px;
}

@media (min-width: 1600px) {
  .mb-10-xl {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mb-10-l {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 960px) {
  .mb-10-m {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 640px) {
  .mb-10-s {
    margin-bottom: 10px !important;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

@media (min-width: 1600px) {
  .mb-20-xl {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mb-20-l {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 960px) {
  .mb-20-m {
    margin-bottom: 20px !important;
  }
}

@media (min-width: 640px) {
  .mb-20-s {
    margin-bottom: 20px !important;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .mb-30-xl {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mb-30-l {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 960px) {
  .mb-30-m {
    margin-bottom: 30px !important;
  }
}

@media (min-width: 640px) {
  .mb-30-s {
    margin-bottom: 30px !important;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .mb-40-xl {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mb-40-l {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 960px) {
  .mb-40-m {
    margin-bottom: 40px !important;
  }
}

@media (min-width: 640px) {
  .mb-40-s {
    margin-bottom: 40px !important;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (min-width: 1600px) {
  .mb-50-xl {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mb-50-l {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 960px) {
  .mb-50-m {
    margin-bottom: 50px !important;
  }
}

@media (min-width: 640px) {
  .mb-50-s {
    margin-bottom: 50px !important;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (min-width: 1600px) {
  .mt-0-xl {
    margin-top: 0px !important;
  }
}

@media (min-width: 1200px) {
  .mt-0-l {
    margin-top: 0px !important;
  }
}

@media (min-width: 960px) {
  .mt-0-m {
    margin-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .mt-0-s {
    margin-top: 0px !important;
  }
}

.mt-0 {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .mt-10-xl {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .mt-10-l {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .mt-10-m {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .mt-10-s {
    margin-top: 10px !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .mt-20-xl {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .mt-20-l {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .mt-20-m {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .mt-20-s {
    margin-top: 20px !important;
  }
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .mt-30-xl {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .mt-30-l {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .mt-30-m {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .mt-30-s {
    margin-top: 30px !important;
  }
}

.mt-30 {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .mt-40-xl {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .mt-40-l {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .mt-40-m {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .mt-40-s {
    margin-top: 40px !important;
  }
}

.mt-40 {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .mt-50-xl {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .mt-50-l {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .mt-50-m {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .mt-50-s {
    margin-top: 50px !important;
  }
}

.mt-50 {
  margin-top: 50px;
}

.fz-14 {
  font-size: 12.25px !important;
}
@media screen and (min-width: 640px) {
  .fz-14 {
    font-size: calc(12.25px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-14 {
    font-size: 12.25px !important;
  }
}

.fz-15 {
  font-size: 13.125px !important;
}
@media screen and (min-width: 640px) {
  .fz-15 {
    font-size: calc(13.125px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-15 {
    font-size: 13.125px !important;
  }
}

.fz-16 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .fz-16 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-16 {
    font-size: 14px !important;
  }
}

.fz-20 {
  font-size: 15.75px !important;
}
@media screen and (min-width: 640px) {
  .fz-20 {
    font-size: calc(15.75px + 1.75 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-20 {
    font-size: 17.5px !important;
  }
}

.fz-30 {
  font-size: 21px !important;
}
@media screen and (min-width: 640px) {
  .fz-30 {
    font-size: calc(21px + 5.25 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .fz-30 {
    font-size: 26.25px !important;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item__120:nth-child(n+2) {
  margin-top: 120px;
}
.item__100:nth-child(n+2) {
  margin-top: 100px;
}
.home__hesinhthai__section .item__100:nth-child(n+2) {
  margin-top: 40px;
}
@media (min-width: 960px) {
  .home__hesinhthai__section .item__100:nth-child(n+2) {
    margin-top: 100px;
  }
}
.item__80:nth-child(n+2) {
  margin-top: 80px;
}
.item__60:nth-child(n+2) {
  margin-top: 60px;
}
.home__hesinhthai__section .item__60:nth-child(n+2), .home__quyenloi .item__60:nth-child(n+2) {
  margin-top: 30px;
}
@media (min-width: 960px) {
  .home__hesinhthai__section .item__60:nth-child(n+2), .home__quyenloi .item__60:nth-child(n+2) {
    margin-top: 60px;
  }
}
.item__50:nth-child(n+2) {
  margin-top: 50px;
}
.item__43:nth-child(n+2) {
  margin-top: 43px;
}
.home__tinhnang .item__43:nth-child(n+2) {
  margin-top: 20px;
}
@media (min-width: 960px) {
  .home__tinhnang .item__43:nth-child(n+2) {
    margin-top: 43px;
  }
}
.item__40:nth-child(n+2) {
  margin-top: 40px;
}
.item__30:nth-child(n+2) {
  margin-top: 30px;
}
.footer__top .item__30:nth-child(n+2), .home__banner .item__30:nth-child(n+2), .home__hinhanh .item__30:nth-child(n+2), .home__tinhnang .item__30:nth-child(n+2) {
  margin-top: 16px;
}
@media (min-width: 960px) {
  .footer__top .item__30:nth-child(n+2), .home__banner .item__30:nth-child(n+2), .home__hinhanh .item__30:nth-child(n+2), .home__tinhnang .item__30:nth-child(n+2) {
    margin-top: 30px;
  }
}
.item__24:nth-child(n+2) {
  margin-top: 24px;
}
.home__quyenloi .item__24:nth-child(n+2) {
  margin-top: 10px;
}
@media (min-width: 960px) {
  .home__quyenloi .item__24:nth-child(n+2) {
    margin-top: 24px;
  }
}
.item__20:nth-child(n+2) {
  margin-top: 20px;
}
.item__16:nth-child(n+2) {
  margin-top: 16px;
}
.item__15:nth-child(n+2) {
  margin-top: 15px;
}
.item__10:nth-child(n+2) {
  margin-top: 10px;
}
.item__8:nth-child(n+2) {
  margin-top: 8px;
}